@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: rgb(15, 23, 42); /* Replace with your desired color */
  overflow-y: hidden;
  font-family: "Poppins", sans-serif;
}
html::-webkit-scrollbar {
    width: 5px;
  }
  
  html::-webkit-scrollbar-track {
    background: rgb(34, 42, 53);
  }
  
  html::-webkit-scrollbar-thumb {
    background: rgb(98, 105, 112);
    border-radius: 10px;
  }
  
  html::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 130, 246);
  }

.Leftside::-webkit-scrollbar {
    width: 5px;
  }
  
  .Leftside::-webkit-scrollbar-track {
    background: rgb(34, 42, 53);
  }
  
  .Leftside::-webkit-scrollbar-thumb {
    background: rgb(98, 105, 112);
    border-radius: 10px;
  }
  
  .Leftside::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 130, 246);
  }

.Rightside::-webkit-scrollbar {
    width: 5px;
  }
  
  .Rightside::-webkit-scrollbar-track {
    background: rgb(34, 42, 53);
  }
  
  .Rightside::-webkit-scrollbar-thumb {
    background: rgb(98, 105, 112);
    border-radius: 10px;
  }
  
  .Rightside::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 130, 246);
  }

.About::-webkit-scrollbar {
    width: 5px;
  }
  
  .About::-webkit-scrollbar-track {
    background: rgb(34, 42, 53);
  }
  
  .About::-webkit-scrollbar-thumb {
    background: rgb(98, 105, 112);
    border-radius: 10px;
  }
  
  .About::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 130, 246);
  }

.Profile::-webkit-scrollbar {
    width: 5px;
  }
  
  .Profile::-webkit-scrollbar-track {
    background: rgb(34, 42, 53);
  }
  
  .Profile::-webkit-scrollbar-thumb {
    background: rgb(98, 105, 112);
    border-radius: 10px;
  }
  
  .Profile::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 130, 246);
  }

.Signin::-webkit-scrollbar {
    width: 5px;
  }
  
  .Signin::-webkit-scrollbar-track {
    background: rgb(34, 42, 53);
  }
  
  .Signin::-webkit-scrollbar-thumb {
    background: rgb(98, 105, 112);
    border-radius: 10px;
  }
  
  .Signin::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 130, 246);
  }

.Signup::-webkit-scrollbar {
    width: 5px;
  }
  
  .Signup::-webkit-scrollbar-track {
    background: rgb(34, 42, 53);
  }
  
  .Signup::-webkit-scrollbar-thumb {
    background: rgb(98, 105, 112);
    border-radius: 10px;
  }
  
  .Signup::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 130, 246);
  }